## Python 3.6 script that reads CSV input file for Colorado water rights data and loads in into SQL Server Database (WaDE)
Adel Abdallah, Feb 2019

In [ ]:
# import the needed Python libraries
import pandas as pd
import pyodbc
from sqlalchemy import create_engine
import urllib
import pandas as pd
import numpy as np
print ('Done importing libraries')

In [ ]:
# Read the CSV files into panads dataframes for each table in WaDE 2.0

Sites = pd.read_csv("WaterRights/CSV/Sites.csv")

Methods = pd.read_csv("WaterRights/CSV/Methods.csv")

WaterSources = pd.read_csv("WaterRights/CSV/WaterSources.csv")

Time_dim = pd.read_csv("WaterRights/CSV/Time_dim.csv")

Variables = pd.read_csv("WaterRights/CSV/Variables.csv")

# Organizations = pd.read_csv("WaterRights/Organizations.csv")

Allocations = pd.read_csv("WaterRights/CSV/Allocations.csv")

AmountMetadata = pd.read_csv("WaterRights/CSV/AmountMetadata.csv")

AllocationAmounts = pd.read_csv("WaterRights/CSV/AllocationAmounts.csv")



print ('Done reading')

In [ ]:
# connect to the WaDE SQL Server database

params = urllib.parse.quote_plus(r'DRIVER={SQL Server};SERVER=localhost\SQLEXPRESS;DATABASE=WaDE;Trusted_Connection=yes')
conn_str = 'mssql+pyodbc:///?odbc_connect={}'.format(params)
engine = create_engine(conn_str)

# ReportinUnits.to_sql(name='ReportinUnits',con=engine, if_exists='append')

sql="""SELECT * FROM WaDE.dbo.ReportingUnits

"""


print ('connected to the SQL Server database')

In [ ]:
Allocations.to_sql('Allocations', engine,if_exists='append',index=False)

In [16]:
AmountMetadata.to_sql('AmountMetadata', engine,if_exists='append',index=False)

AllocationAmounts.to_sql('AllocationAmounts', engine,if_exists='append',index=False)

print ('Done loading')

IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Cannot insert the value NULL into column 'BeneficialUseCategory', table 'WaDE.dbo.AmountMetadata'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)") [SQL: 'INSERT INTO [AmountMetadata] ([AmountMetadataID], [BeneficialUseCategory], [PrimaryUseCategory], [USGSCategoryCV], [SDWISIdentifier], [NAICSCodeCV], [PopulationServed], [IrrigatedAcreage], [IrrigationMethod], [CropType], [PowerGeneratedGWh], [Geometry], [InterbasinTransferFromID], [InterbasinTransferToID]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ((10135, 'Storage', None, None, None, None, None, None, None, None, None, None, None, None), (10136, 'Storage, Recharge', None, None, None, None, None, None, None, None, None, None, None, None), (10137, 'Fishery, Recharge, Wildlife', None, None, None, None, None, None, None, None, None, None, None, None), (10138, 'Irrigation', None, None, None, None, None, None, None, None, None, None, None, None), (10139, 'Storage, Recharge', None, None, None, None, None, None, None, None, None, None, None, None), (10140, 'Storage', None, None, None, None, None, None, None, None, None, None, None, None), (10141, 'Storage, Augmentation, Recharge', None, None, None, None, None, None, None, None, None, None, None, None), (10142, 'Irrigation', None, None, None, None, None, None, None, None, None, None, None, None)  ... displaying 10 of 140477 total bound parameter sets ...  (150610, 'Commercial', None, None, None, None, None, None, None, None, None, None, None, None), (150611, 'Domestic', None, None, None, None, None, None, None, None, None, None, None, None))] (Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
# load the tables into the WaDE database 
Sites.to_sql('Sites', engine,if_exists='append',index=False)

Methods.to_sql('Methods', engine,if_exists='append',index=False)

WaterSources.to_sql('WaterSources', engine,if_exists='append',index=False)

Time_dim.to_sql('Time_dim', engine,if_exists='append',index=False)

Variables.to_sql('Variables', engine,if_exists='append',index=False)

Allocations.to_sql('Allocations', engine,if_exists='append',index=False)

AmountMetadata.to_sql('AmountMetadata', engine,if_exists='append',index=False)

AllocationAmounts.to_sql('AllocationAmounts', engine,if_exists='append',index=False)

print ('Done loading')